.features {
    display: flex;
    margin-top: 2em;
}

.features__item {
    margin-right: rem(48px);
    

    &:last-child {
        margin-right: 0;
    }
}

.features__icon {
    width: 34;
    height: 35;
}